<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foreveross.vds.service.fms.mapper.FmsSettletransportChargeLVMapper">
    <select id="selectPmsSendcarLine"
            parameterType="com.foreveross.vds.dto.fms.FmsSettletransportChargeLVRequest"
            resultType="com.foreveross.vds.vo.fms.FmsSettletransportChargeLV">
        select
          *
        from
        FMS_SETTLETRANSPORT_CHARGE_L_V
        <where>
            <!-- 送车交接单头ID -->
            <if test="sendcarHeaderId != null">
                and SENDCAR_HEADER_ID = #{sendcarHeaderId}
            </if>
            <!-- 车型大类 -->
            <if test="carCategoryId != null">
                and CAR_CATEGORY_ID = #{carCategoryId}
            </if>
        </where>
    </select>
</mapper>