<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foreveross.vds.service.fms.mapper.TransportContractImportVerifierMapper" >

    <select id="getTransportMethod" resultType="com.foreveross.vds.dto.fms.transportContractImport.TransportMethod">
        SELECT
        t2.LOOKUP_ID TRANS_METHOD_ID,
        T2.DESCRIPTION TRANS_METHOD_NAME
        FROM
        fnd_lookup_types t1
        JOIN fnd_lookup_values t2 ON t1.lookup_type_id = t2.lookup_type_id
        WHERE
        T1.LOOKUP_TYPE = 'TRANSPORT_METHOD' AND T2.DESCRIPTION = #{transMethodName}
    </select>

    <select id="contractNumberRepeat" resultType="int">
        SELECT
        count(*)
        FROM
        FMS_TRANSPORT_CONTRACT_HEADER
        WHERE
        CONTRACT_NUMBER = #{contractNumber}
    </select>

    <select id="contractNameRepeat" resultType="int">
        SELECT
        count(*)
        FROM
        FMS_TRANSPORT_CONTRACT_HEADER
        WHERE
        CONTRACT_NAME = #{contractName}
    </select>

    <select id="getLogistics" resultType="com.foreveross.vds.vo.tms.TmsLogisticsProviders">
        SELECT
        *
        FROM
        TMS_LOGISTICS_PROVIDERS
        WHERE
        LOGISTICS_SHORT_NAME = #{logisticsShortName}
    </select>

    <select id="getTmsStartPoint" resultType="com.foreveross.vds.vo.tms.TmsDeparture">
        SELECT
        *
        FROM
        TMS_DEPARTURE
        WHERE
        DEPARTURE_NAME = #{departureName}
    </select>

    <select id="getReginInfo" parameterType="com.foreveross.vds.vo.tms.TmsRegionInfo" resultType="com.foreveross.vds.vo.tms.TmsRegionInfo">
        select
        *
        from TMS.TMS_REGION_INFO
        <where>
            <if test="regionName != null and regionName != ''">
                AND REGION_NAME = #{regionName}
            </if>
            <if test="regionId != null">
                AND REGION_ID = #{regionId}
            </if>
            <if test="parentId != null">
                AND PARENT_ID = #{parentId}
            </if>

        </where>
    </select>
</mapper>