<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foreveross.vds.service.fms.mapper.ReceiveAddressChangeRecordMapper">
  	<select id="querySendcarHeaderChangeV" parameterType="com.foreveross.vds.dto.fms.SendcarHeaderChangeV" resultType="com.foreveross.vds.dto.fms.SendcarHeaderChangeV">
		select sendcar_header_id    sendcarHeaderId,
	       sendcar_order_number sendcarOrderNumber,
	       start_province_id    startProvinceId,
	       start_province_name  startProvinceName,
	       start_city_id        startCityId,
	       start_city_name      startCityName,
	       start_county_id      startCountyId,
	       start_county_name    startCountyName,
	       SHIP_TO_ADDRESS      shipToDddress,
	       ship_to              shipTo,
	       sold_to_company_id   soldToCompanyId
	  from SENDCAR_HEADER_CHANGE_V
	  where 1=1
	  <if test="sendcarOrderNumber != null and sendcarOrderNumber != ''"> 
      	AND ( sendcar_order_number LIKE   '%'|| #{sendcarOrderNumber} ||'%') 
      </if>
      <if test="startProvinceId != null and startProvinceId != ''"> 
      	AND ( start_province_id = #{startProvinceId}) 
      </if>
      <if test="startCityId != null and startCityId != ''"> 
      	AND ( start_city_id = #{startCityId}) 
      </if>
      <if test="startCountyId != null and startCountyId != ''"> 
      	AND ( start_county_id = #{startCountyId}) 
      </if>
      <if test="shipToDddress != null and shipToDddress != ''"> 
      	AND ( SHIP_TO_ADDRESS LIKE   '%'|| #{shipToDddress} ||'%') 
      </if>
      <if test="orderBy != null and orderBy != ''"> 
      	order by ${orderBy}
      </if>
	</select>
	<select id="queryReceiveAddressChangeV" parameterType="com.foreveross.vds.dto.fms.ReceiveAddressChangeV" resultType="com.foreveross.vds.dto.fms.ReceiveAddressChangeV">
		select sendcar_header_id sendcarHeaderId,
		   sendcar_order_number  sendcarOrderNumber,
	       last_sold_to_org_id   lastSoldToOrgId,
	       last_sold_to_org_name lastProvinceId,
	       last_province_id      oldProvinceName,
	       old_province_name     lastCityId,
	       last_city_id          oldCityName,
	       old_city_name         lastCountyId,
	       last_county_id        oldCountyName,
	       old_county_name       lastReceiveAddress,
	       last_receive_address  nowSoldToOrgId,
	       now_sold_to_org_id    nowProvinceId,
	       now_sold_to_org_name  nowProvinceName,
	       now_province_id       nowCityId,
	       now_province_name     nowCityName,
	       now_city_id           nowCountyId,
	       now_city_name         nowCountyName,
	       now_county_id         nowReceiveAddress,
	       now_county_name       chageReason,
	       now_receive_address   lastSoldToOrgname,
	       chage_reason          nowSoldToOrgname
	  from RECEIVE_ADDRESS_CHANGE_V
	  where 1=1
	  <if test="sendcarOrderNumber != null and sendcarOrderNumber != ''"> 
      	AND ( sendcar_order_number = #{sendcarOrderNumber}) 
      </if>
      <if test="orderBy != null and orderBy != ''"> 
      	order by ${orderBy}
      </if>
	</select>
	
	<select id="queryTransportRuleHeader" parameterType="com.foreveross.vds.dto.pms.TransportRuleHeader" resultType="com.foreveross.vds.dto.pms.TransportRuleHeader">
		select transport_rule_header_id transportRuleHeaderId,
	       start_point_id           startPointId,
	       province_id              provinceId,
	       city_id                  cityId,
	       county_id                countyId,
	       order_type               orderType,
	       transport_model          transportModel,
	       section_total            sectionTotal,
	       default_flag             defaultFlag,
	       start_date               startDate,
	       end_date                 endDate,
	       remarks                  remarks,
	       creation_date            creationDate,
	       created_by               createdBy,
	       last_update_date         lastUpdateDate,
	       last_updated_by          lastUpdatedBy,
	       last_update_login        lastUpdateLogin,
	       t1.logistics_id          logisticsId,
	       t1.transport_method      transportMethod
	  from PMS_TRANSPORT_RULE_HlastUpdateLogin EADER t
	  left join PMS_TRANSPORT_RULE_LINE t1
	    on t1.transport_rule_header_id = t.transport_rule_header_id
	 where t.province_id = #{provinceId}
	   and t.city_id = #{cityId}
	   and t.county_id = #{countyId}
	   and exists (select 1
	          from TMS_START_POINT_ORG_REALATION t1
	         where t1.start_point_id = t.start_point_id
	           and t1.organization_id = #{organizationId})
	   and t.default_flag = 'Y'
	</select>
	
	<select id="queryPmsDcsCrmDealerInter" parameterType="com.foreveross.vds.dto.pms.PmsDcsCrmDealerInter" resultType="com.foreveross.vds.dto.pms.PmsDcsCrmDealerInter">
		select dealer_id                  dealerId,
	       dealer_code                dealerCode,
	       dealer_name                dealerName,
	       org_code                   orgCode,
	       org_name                   orgName,
	       province_id                provinceId,
	       city_id                    cityId,
	       town_id                    townId,
	       address                    address,
	       zip_code                   zipCode,
	       link_man                   linkMan,
	       fax_no                     faxNo,
	       email                      email,
	       dealer_type                dealerType,
	       dealer_level               dealerLevel,
	       dealer_class               dealerClass,
	       remark                     remark,
	       status                     status,
	       company_id                 companyId,
	       flag                       flag,
	       create_date                createDate,
	       update_date                updateDate,
	       lng_x                      lngX,
	       lat_y                      latY,
	       sale_hotline               saleHotline,
	       sale_province_code         saleProvinceCode,
	       sale_city_code             saleCityCode,
	       sale_town_code             saleTownCode,
	       sale_address_describe      saleAddressDescribe,
	       service_hotline            serviceHotline,
	       service_province_code      serviceProvinceCode,
	       service_city_code          serviceCityCode,
	       service_town_code          serviceTownCode,
	       service_address_describe   serviceAddressDescribe,
	       emergency_phone            emergencyPhone,
	       sale_manager_name          saleManagerName,
	       sale_manager_phone         saleManagerPhone,
	       relationship_manager_name  relationshipManagerName,
	       relationship_manager_phone relationshipManagerPhone,
	       service_manager_name       serviceManagerName,
	       service_manager_phone      serviceManagerPhone
	  from PMS_DCS_CRM_DEALER_INTER
	  where 1=1
	</select>
	
	<select id="queryTmsSendcarHeaderById" parameterType="java.lang.Long" resultType="com.foreveross.vds.dto.tms.TmsSendcarHeader">
		select sendcar_header_id        sendcarHeaderId,
		       org_id                   orgId,
		       order_header_id          orderHeaderId,
		       transport_rule_header_id transportRuleHeaderId,
		       transport_rule_line_id   transportRuleLineId,
		       sendcar_order_number     sendcarOrderNumber,
		       logistics_id             logisticsId,
		       carrier_id               carrierId,
		       order_type               orderType,
		       transport_model          transportModel,
		       section_total            sectionTotal,
		       mid_organization_id      midOrganizationId,
		       section_order            sectionOrder,
		       trans_tool_id            transToolId,
		       driver_id                driverId,
		       sold_to_company_id       soldToCompanyId,
		       start_point_id           startPointId,
		       start_province_id        startProvinceId,
		       start_city_id            startCityId,
		       start_county_id          startCountyId,
		       end_province_id          endProvinceId,
		       end_city_id              endCityId,
		       end_county_id            endCountyId,
		       car_quantity             carQuantity,
		       settled_quantity         settledQuantity,
		       arrived_quantity         arrivedQuantity,
		       receive_quantity         receiveQuantity,
		       arrived_status           arrivedStatus,
		       arrived_date             arrivedDate,
		       receive_status           receiveStatus,
		       receive_date             receiveDate,
		       print_flag               printFlag,
		       settled_flag             settledFlag,
		       settled_date             settledDate,
		       enabled_flag             enabledFlag,
		       ship_to                  shipTo,
		       ship_to_address          shipToAddress,
		       jjd_print_date           jjdPrintDate,
		       jjd_print_time           jjdPrintTime,
		       sendcar_date             sendcarDate,
		       so_header_id             soHeaderId,
		       ship_header_id           shipHeaderId,
		       bill_to_id               billToId,
		       ship_to_id               shipToId,
		       contact_id               contactId,
		       contact_phone            contactPhone,
		       ship_to_address_id       shipToAddressId,
		       salesman_id              salesmanId,
		       salesman_phone           salesmanPhone,
		       ship_method_code         shipMethodCode,
		       confirm_date             confirmDate,
		       fyd_print_date           fydPrintDate,
		       flatcar_assign_date      flatcarAssignDate,
		       ship_date                shipDate,
		       transactor               transactor,
		       car_total_qty            carTotalQty,
		       flatcar_id               flatcarId,
		       certificate_qty          certificateQty,
		       manual_qty               manualQty,
		       guarantee_qty            guaranteeQty,
		       toolbag_qty              toolbagQty,
		       tools_qty                toolsQty,
		       operator                 operator,
		       ship_flag                shipFlag,
		       sale_centre              saleCentre,
		       detain_money             detainMoney,
		       bill_to                  billTo,
		       contact_name             contactName,
		       remark                   remark,
		       if_valid                 ifValid,
		       po_number                poNumber,
		       top_po_number            topPoNumber,
		       tp_receive_org_id        tpReceiveOrgId,
		       tp_purchase_org_id       tpPurchaseOrgId,
		       tp_receive_addr_id       tpReceiveAddrId,
		       tp_purchase_addr_id      tpPurchaseAddrId,
		       status                   status,
		       sendcar_header_id_source sendcarHeaderIdSource,
		       consign_operator         consignOperator,
		       type                     type,
		       motorman                 motorman,
		       motorman_phone           motormanPhone,
		       quantity_received        quantityReceived,
		       close_reason             closeReason,
		       organization_id          organizationId,
		       tp_bill_org_id           tpBillOrgId,
		       second_flag              secondFlag,
		       ms_sendcarf_flag         msSendcarfFlag,
		       ms_sendcarh_flag         msSendcarhFlag,
		       yf_sh_flag               yfShFlag,
		       add_update               addUpdate,
		       organization_code_bk     organizationCodeBk,
		       hgz_print_date           hgzPrintDate,
		       hgz_print_by             hgzPrintBy,
		       shipment_dblink          shipmentDblink,
		       shipment_partnum         shipmentPartnum,
		       created_by               createdBy,
		       creation_date            creationDate,
		       last_updated_by          lastUpdatedBy,
		       last_update_date         lastUpdateDate,
		       last_update_login        lastUpdateLogin,
		       attribute1               attribute1,
		       attribute2               attribute2,
		       attribute3               attribute3,
		       attribute4               attribute4,
		       attribute5               attribute5,
		       attribute6               attribute6,
		       attribute7               attribute7,
		       attribute8               attribute8,
		       attribute9               attribute9,
		       attribute10              attribute10,
		       attribute11              attribute11,
		       attribute12              attribute12,
		       attribute13              attribute13,
		       attribute14              attribute14,
		       attribute15              attribute15,
		       attribute16              attribute16,
		       attribute17              attribute17,
		       attribute18              attribute18,
		       attribute19              attribute19,
		       attribute20              attribute20,
		       TRANSPORT_METHOD_ID      transportMethodId
		  from TMS_SENDCAR_HEADER
		  where sendcar_header_id = #{sendcarHeaderId}
	</select>
	
	<select id="queryFmsSendcarFeeRelateById" parameterType="java.lang.Long" resultType="com.foreveross.vds.dto.fms.FmsSendcarFeeRelate">
		select sendcar_fee_relate_id        endcarFeeRelateId,
		       sendcar_line_id              endcarLineId,
		       transport_contract_line_id   transportContractLineId,
		       distance_line_id             distanceLineId,
		       railway_prepare_fee          railwayPrepareFee,
		       budget_flag                  budgetFlag,
		       created_by                   createdBy,
		       creation_date                creationDate,
		       last_updated_by              lastUpdatedBy,
		       last_update_date             lastUpdateDate,
		       last_update_login            lastUpdateLogin,
		       attribute1                   attribute1,
		       attribute2                   attribute2,
		       attribute3                   attribute3,
		       attribute4                   attribute4,
		       attribute5                   attribute5,
		       attribute6                   attribute6,
		       attribute7                   attribute7,
		       attribute8                   attribute8,
		       attribute9                   attribute9,
		       attribute10                  attribute10,
		       attribute11                  attribute11,
		       attribute12                  attribute12,
		       attribute13                  attribute13,
		       attribute14                  attribute14,
		       attribute15                  attribute15,
		       attribute16                  attribute16,
		       attribute17                  attribute17,
		       attribute18                  attribute18,
		       attribute19                  attribute19,
		       attribute20                  attribute20,
		       transport_contract_header_id transportContractHeaderId
		  from FMS_SENDCAR_FEE_RELATE
		  where sendcar_fee_relate_id = #{endcarFeeRelateId}
	</select>
	
	<select id="queryFmsTransportContractLine" parameterType="com.foreveross.vds.vo.fms.FmsTransportContractLine" resultType="com.foreveross.vds.vo.fms.FmsTransportContractLine">
		select t.transport_contract_line_id   transportContractLineId,
		       t.transport_contract_header_id transportContractHeaderId
		  from FMS_TRANSPORT_CONTRACT_LINE t
		 where t.transport_method = #{transportMethod}
		   and t.start_province_id = #{startProvinceId}
		   and t.start_city_id = #{startCityId}
		   and t.start_county_id = #{startCountyId}
		   and exists (select 1
		          from TMS_START_POINT_ORG_REALATION t1
		         where t1.start_point_id = t.start_point_id
		           and t1.organization_id = #{organizationId})
		   and t.enabled_flag = 'Y'
	</select>
	
	<insert id="addReceiveAddressChangeRecord" parameterType="com.foreveross.vds.dto.fms.ReceiveAddressChangeRecord">
	     <selectKey resultType="java.lang.Long" keyProperty="recieveAddressRecordId" order="BEFORE">
              select RECEIVE_ADDRESS_CHANGE_RECORD_S.nextval as recieveAddressRecordId from dual
          </selectKey>
			insert into RECEIVE_ADDRESS_CHANGE_RECORD
			  (recieve_address_record_id,
			   sendcar_header_id,
			   last_sold_to_org_id,
			   last_province_id,
			   last_city_id,
			   last_county_id,
			   last_receive_address,
			   now_sold_to_org_id,
			   now_province_id,
			   now_city_id,
			   now_county_id,
			   now_receive_address,
			   chage_reason,
			   created_by,
			   creation_date,
			   last_updated_by,
			   last_update_date,
			   last_update_login,
			   attribute1,
			   attribute2,
			   attribute3,
			   attribute4,
			   attribute5,
			   attribute6,
			   attribute7,
			   attribute8,
			   attribute9,
			   attribute10)
			values
			  (#{recieveAddressRecordId,
			   jdbcType = VARCHAR},
			   #{sendcarHeaderId,
			   jdbcType = VARCHAR},
			   #{lastSoldToOrgId,
			   jdbcType = VARCHAR},
			   #{lastProvinceId,
			   jdbcType = VARCHAR},
			   #{lastCityId,
			   jdbcType = VARCHAR},
			   #{lastCountyId,
			   jdbcType = VARCHAR},
			   #{lastReceiveAddress,
			   jdbcType = VARCHAR},
			   #{nowSoldToOrgId,
			   jdbcType = VARCHAR},
			   #{nowProvinceId,
			   jdbcType = VARCHAR},
			   #{nowCityId,
			   jdbcType = VARCHAR},
			   #{nowCountyId,
			   jdbcType = VARCHAR},
			   #{nowReceiveAddress,
			   jdbcType = VARCHAR},
			   #{chageReason,
			   jdbcType = VARCHAR},
			   #{createdBy,
			   jdbcType = VARCHAR},
			   #{creationDate,
			   jdbcType = VARCHAR},
			   #{lastUpdatedBy,
			   jdbcType = VARCHAR},
			   #{lastUpdateDate,
			   jdbcType = VARCHAR},
			   #{lastUpdateLogin,
			   jdbcType = VARCHAR},
			   #{attribute1,
			   jdbcType = VARCHAR},
			   #{attribute2,
			   jdbcType = VARCHAR},
			   #{attribute3,
			   jdbcType = VARCHAR},
			   #{attribute4,
			   jdbcType = VARCHAR},
			   #{attribute5,
			   jdbcType = VARCHAR},
			   #{attribute6,
			   jdbcType = VARCHAR},
			   #{attribute7,
			   jdbcType = VARCHAR},
			   #{attribute8,
			   jdbcType = VARCHAR},
			   #{attribute9,
			   jdbcType = VARCHAR},
			   #{attribute10,
			   jdbcType = VARCHAR})
	</insert>
	
	<update id="updateTmsSendcarHeader" parameterType="com.foreveross.vds.dto.tms.TmsSendcarHeader">
			update TMS_SENDCAR_HEADER
			   set sendcar_header_id        = #{sendcarHeaderId,
			       jdbcType                 = VARCHAR},
			       org_id                   = #{orgId,
			       jdbcType                 = VARCHAR},
			       order_header_id          = #{orderHeaderId,
			       jdbcType                 = VARCHAR},
			       transport_rule_header_id = #{transportRuleHeaderId,
			       jdbcType                 = VARCHAR},
			       transport_rule_line_id   = #{transportRuleLineId,
			       jdbcType                 = VARCHAR},
			       sendcar_order_number     = #{sendcarOrderNumber,
			       jdbcType                 = VARCHAR},
			       logistics_id             = #{logisticsId,
			       jdbcType                 = VARCHAR},
			       carrier_id               = #{carrierId,
			       jdbcType                 = VARCHAR},
			       order_type               = #{orderType,
			       jdbcType                 = VARCHAR},
			       transport_model          = #{transportModel,
			       jdbcType                 = VARCHAR},
			       section_total            = #{sectionTotal,
			       jdbcType                 = VARCHAR},
			       mid_organization_id      = #{midOrganizationId,
			       jdbcType                 = VARCHAR},
			       section_order            = #{sectionOrder,
			       jdbcType                 = VARCHAR},
			       trans_tool_id            = #{transToolId,
			       jdbcType                 = VARCHAR},
			       driver_id                = #{driverId,
			       jdbcType                 = VARCHAR},
			       sold_to_company_id       = #{soldToCompanyId,
			       jdbcType                 = VARCHAR},
			       start_point_id           = #{startPointId,
			       jdbcType                 = VARCHAR},
			       start_province_id        = #{startProvinceId,
			       jdbcType                 = VARCHAR},
			       start_city_id            = #{startCityId,
			       jdbcType                 = VARCHAR},
			       start_county_id          = #{startCountyId,
			       jdbcType                 = VARCHAR},
			       end_province_id          = #{endProvinceId,
			       jdbcType                 = VARCHAR},
			       end_city_id              = #{endCityId,
			       jdbcType                 = VARCHAR},
			       end_county_id            = #{endCountyId,
			       jdbcType                 = VARCHAR},
			       car_quantity             = #{carQuantity,
			       jdbcType                 = VARCHAR},
			       settled_quantity         = #{settledQuantity,
			       jdbcType                 = VARCHAR},
			       arrived_quantity         = #{arrivedQuantity,
			       jdbcType                 = VARCHAR},
			       receive_quantity         = #{receiveQuantity,
			       jdbcType                 = VARCHAR},
			       arrived_status           = #{arrivedStatus,
			       jdbcType                 = VARCHAR},
			       arrived_date             = #{arrivedDate,
			       jdbcType                 = VARCHAR},
			       receive_status           = #{receiveStatus,
			       jdbcType                 = VARCHAR},
			       receive_date             = #{receiveDate,
			       jdbcType                 = VARCHAR},
			       print_flag               = #{printFlag,
			       jdbcType                 = VARCHAR},
			       settled_flag             = #{settledFlag,
			       jdbcType                 = VARCHAR},
			       settled_date             = #{settledDate,
			       jdbcType                 = VARCHAR},
			       enabled_flag             = #{enabledFlag,
			       jdbcType                 = VARCHAR},
			       ship_to                  = #{shipTo,
			       jdbcType                 = VARCHAR},
			       ship_to_address          = #{shipToAddress,
			       jdbcType                 = VARCHAR},
			       jjd_print_date           = #{jjdPrintDate,
			       jdbcType                 = VARCHAR},
			       jjd_print_time           = #{jjdPrintTime,
			       jdbcType                 = VARCHAR},
			       sendcar_date             = #{sendcarDate,
			       jdbcType                 = VARCHAR},
			       so_header_id             = #{soHeaderId,
			       jdbcType                 = VARCHAR},
			       ship_header_id           = #{shipHeaderId,
			       jdbcType                 = VARCHAR},
			       bill_to_id               = #{billToId,
			       jdbcType                 = VARCHAR},
			       ship_to_id               = #{shipToId,
			       jdbcType                 = VARCHAR},
			       contact_id               = #{contactId,
			       jdbcType                 = VARCHAR},
			       contact_phone            = #{contactPhone,
			       jdbcType                 = VARCHAR},
			       ship_to_address_id       = #{shipToAddressId,
			       jdbcType                 = VARCHAR},
			       salesman_id              = #{salesmanId,
			       jdbcType                 = VARCHAR},
			       salesman_phone           = #{salesmanPhone,
			       jdbcType                 = VARCHAR},
			       ship_method_code         = #{shipMethodCode,
			       jdbcType                 = VARCHAR},
			       confirm_date             = #{confirmDate,
			       jdbcType                 = VARCHAR},
			       fyd_print_date           = #{fydPrintDate,
			       jdbcType                 = VARCHAR},
			       flatcar_assign_date      = #{flatcarAssignDate,
			       jdbcType                 = VARCHAR},
			       ship_date                = #{shipDate,
			       jdbcType                 = VARCHAR},
			       transactor               = #{transactor,
			       jdbcType                 = VARCHAR},
			       car_total_qty            = #{carTotalQty,
			       jdbcType                 = VARCHAR},
			       flatcar_id               = #{flatcarId,
			       jdbcType                 = VARCHAR},
			       certificate_qty          = #{certificateQty,
			       jdbcType                 = VARCHAR},
			       manual_qty               = #{manualQty,
			       jdbcType                 = VARCHAR},
			       guarantee_qty            = #{guaranteeQty,
			       jdbcType                 = VARCHAR},
			       toolbag_qty              = #{toolbagQty,
			       jdbcType                 = VARCHAR},
			       tools_qty                = #{toolsQty,
			       jdbcType                 = VARCHAR},
			       operator                 = #{operator,
			       jdbcType                 = VARCHAR},
			       ship_flag                = #{shipFlag,
			       jdbcType                 = VARCHAR},
			       sale_centre              = #{saleCentre,
			       jdbcType                 = VARCHAR},
			       detain_money             = #{detainMoney,
			       jdbcType                 = VARCHAR},
			       bill_to                  = #{billTo,
			       jdbcType                 = VARCHAR},
			       contact_name             = #{contactName,
			       jdbcType                 = VARCHAR},
			       remark                   = #{remark,
			       jdbcType                 = VARCHAR},
			       if_valid                 = #{ifValid,
			       jdbcType                 = VARCHAR},
			       po_number                = #{poNumber,
			       jdbcType                 = VARCHAR},
			       top_po_number            = #{topPoNumber,
			       jdbcType                 = VARCHAR},
			       tp_receive_org_id        = #{tpReceiveOrgId,
			       jdbcType                 = VARCHAR},
			       tp_purchase_org_id       = #{tpPurchaseOrgId,
			       jdbcType                 = VARCHAR},
			       tp_receive_addr_id       = #{tpReceiveAddrId,
			       jdbcType                 = VARCHAR},
			       tp_purchase_addr_id      = #{tpPurchaseAddrId,
			       jdbcType                 = VARCHAR},
			       status                   = #{status,
			       jdbcType                 = VARCHAR},
			       sendcar_header_id_source = #{sendcarHeaderIdSource,
			       jdbcType                 = VARCHAR},
			       consign_operator         = #{consignOperator,
			       jdbcType                 = VARCHAR},
			       type                     = #{type,
			       jdbcType                 = VARCHAR},
			       motorman                 = #{motorman,
			       jdbcType                 = VARCHAR},
			       motorman_phone           = #{motormanPhone,
			       jdbcType                 = VARCHAR},
			       quantity_received        = #{quantityReceived,
			       jdbcType                 = VARCHAR},
			       close_reason             = #{closeReason,
			       jdbcType                 = VARCHAR},
			       organization_id          = #{organizationId,
			       jdbcType                 = VARCHAR},
			       tp_bill_org_id           = #{tpBillOrgId,
			       jdbcType                 = VARCHAR},
			       second_flag              = #{secondFlag,
			       jdbcType                 = VARCHAR},
			       ms_sendcarf_flag         = #{msSendcarfFlag,
			       jdbcType                 = VARCHAR},
			       ms_sendcarh_flag         = #{msSendcarhFlag,
			       jdbcType                 = VARCHAR},
			       yf_sh_flag               = #{yfShFlag,
			       jdbcType                 = VARCHAR},
			       add_update               = #{addUpdate,
			       jdbcType                 = VARCHAR},
			       organization_code_bk     = #{organizationCodeBk,
			       jdbcType                 = VARCHAR},
			       hgz_print_date           = #{hgzPrintDate,
			       jdbcType                 = VARCHAR},
			       hgz_print_by             = #{hgzPrintBy,
			       jdbcType                 = VARCHAR},
			       shipment_dblink          = #{shipmentDblink,
			       jdbcType                 = VARCHAR},
			       shipment_partnum         = #{shipmentPartnum,
			       jdbcType                 = VARCHAR},
			       created_by               = #{createdBy,
			       jdbcType                 = VARCHAR},
			       creation_date            = #{creationDate,
			       jdbcType                 = VARCHAR},
			       last_updated_by          = #{lastUpdatedBy,
			       jdbcType                 = VARCHAR},
			       last_update_date         = #{lastUpdateDate,
			       jdbcType                 = VARCHAR},
			       last_update_login        = #{lastUpdateLogin,
			       jdbcType                 = VARCHAR},
			       attribute1               = #{attribute1,
			       jdbcType                 = VARCHAR},
			       attribute2               = #{attribute2,
			       jdbcType                 = VARCHAR},
			       attribute3               = #{attribute3,
			       jdbcType                 = VARCHAR},
			       attribute4               = #{attribute4,
			       jdbcType                 = VARCHAR},
			       attribute5               = #{attribute5,
			       jdbcType                 = VARCHAR},
			       attribute6               = #{attribute6,
			       jdbcType                 = VARCHAR},
			       attribute7               = #{attribute7,
			       jdbcType                 = VARCHAR},
			       attribute8               = #{attribute8,
			       jdbcType                 = VARCHAR},
			       attribute9               = #{attribute9,
			       jdbcType                 = VARCHAR},
			       attribute10              = #{attribute10,
			       jdbcType                 = VARCHAR},
			       attribute11              = #{attribute11,
			       jdbcType                 = VARCHAR},
			       attribute12              = #{attribute12,
			       jdbcType                 = VARCHAR},
			       attribute13              = #{attribute13,
			       jdbcType                 = VARCHAR},
			       attribute14              = #{attribute14,
			       jdbcType                 = VARCHAR},
			       attribute15              = #{attribute15,
			       jdbcType                 = VARCHAR},
			       attribute16              = #{attribute16,
			       jdbcType                 = VARCHAR},
			       attribute17              = #{attribute17,
			       jdbcType                 = VARCHAR},
			       attribute18              = #{attribute18,
			       jdbcType                 = VARCHAR},
			       attribute19              = #{attribute19,
			       jdbcType                 = VARCHAR},
			       attribute20              = #{attribute20,
			       jdbcType                 = VARCHAR}
			 where sendcar_header_id = #{sendcarHeaderId}
	</update>
	<update id="updateFmsSendcarFeeRelate" parameterType="com.foreveross.vds.dto.fms.FmsSendcarFeeRelate">
			update FMS_SENDCAR_FEE_RELATE
			   set sendcar_fee_relate_id        = #{endcarFeeRelateId,
			       jdbcType                     = VARCHAR},
			       sendcar_line_id              = #{endcarLineId,
			       jdbcType                     = VARCHAR},
			       transport_contract_line_id   = #{transportContractLineId,
			       jdbcType                     = VARCHAR},
			       distance_line_id             = #{distanceLineId,
			       jdbcType                     = VARCHAR},
			       railway_prepare_fee          = #{railwayPrepareFee,
			       jdbcType                     = VARCHAR},
			       budget_flag                  = #{budgetFlag,
			       jdbcType                     = VARCHAR},
			       created_by                   = #{createdBy,
			       jdbcType                     = VARCHAR},
			       creation_date                = #{creationDate,
			       jdbcType                     = VARCHAR},
			       last_updated_by              = #{lastUpdatedBy,
			       jdbcType                     = VARCHAR},
			       last_update_date             = #{lastUpdateDate,
			       jdbcType                     = VARCHAR},
			       last_update_login            = #{lastUpdateLogin,
			       jdbcType                     = VARCHAR},
			       attribute1                   = #{attribute1,
			       jdbcType                     = VARCHAR},
			       attribute2                   = #{attribute2,
			       jdbcType                     = VARCHAR},
			       attribute3                   = #{attribute3,
			       jdbcType                     = VARCHAR},
			       attribute4                   = #{attribute4,
			       jdbcType                     = VARCHAR},
			       attribute5                   = #{attribute5,
			       jdbcType                     = VARCHAR},
			       attribute6                   = #{attribute6,
			       jdbcType                     = VARCHAR},
			       attribute7                   = #{attribute7,
			       jdbcType                     = VARCHAR},
			       attribute8                   = #{attribute8,
			       jdbcType                     = VARCHAR},
			       attribute9                   = #{attribute9,
			       jdbcType                     = VARCHAR},
			       attribute10                  = #{attribute10,
			       jdbcType                     = VARCHAR},
			       attribute11                  = #{attribute11,
			       jdbcType                     = VARCHAR},
			       attribute12                  = #{attribute12,
			       jdbcType                     = VARCHAR},
			       attribute13                  = #{attribute13,
			       jdbcType                     = VARCHAR},
			       attribute14                  = #{attribute14,
			       jdbcType                     = VARCHAR},
			       attribute15                  = #{attribute15,
			       jdbcType                     = VARCHAR},
			       attribute16                  = #{attribute16,
			       jdbcType                     = VARCHAR},
			       attribute17                  = #{attribute17,
			       jdbcType                     = VARCHAR},
			       attribute18                  = #{attribute18,
			       jdbcType                     = VARCHAR},
			       attribute19                  = #{attribute19,
			       jdbcType                     = VARCHAR},
			       attribute20                  = #{attribute20,
			       jdbcType                     = VARCHAR},
			       transport_contract_header_id = #{transportContractHeaderId,
			       jdbcType                     = VARCHAR}
			 where sendcar_fee_relate_id = #{endcarFeeRelateId}
	</update>
	<update id="updateFmsSendcarFeeRelateContract" parameterType="com.foreveross.vds.dto.fms.FmsSendcarFeeRelate">
			update FMS_SENDCAR_FEE_RELATE t
			   set t.transport_contract_header_id = #{transportContractHeaderId}, t.transport_contract_line_id = #{transportContractLineId}
			 where exists (select 1
			          from tMS_SENDCAR_LINE t1
			         where t1.sencar_line_id = t.sendcar_line_id
			           and exists
			         (select 1
			                  from tMS_SENDCAR_HEADER t2
			                 where t2.sendcar_header_id = t1.sendcar_header_id
			                   and t2.sendcar_header_id = #{sendcarHeaderId}))
			
	</update>
</mapper>